<!DOCTYPE html>
<head>
   <style>
    
   </style>
</head>
<body>
    <div class="title">
        <div class="text1">
            <p>Panda Express</p>
        </div>
            <div class="text2">
                <p>Sign Up</p>
            <p>Settings</p>
            <p>Cart</p>
            </div>
    </div>
    <!-- <div class="searchbox">
        
    <input type="text" [(ngModel)]="term" (input)="search()">

       
    </div>
    <select class="search-dropdown">
        <option *ngFor="let food of filteredValues" value="{{food.name}}">{{food.name}}</option>
    </select> -->
    <div class="searchbox">
        <input type="text" [(ngModel)]="term" (input)="search()" id="searchInput">
        <div class="search-results" id="searchResults">
            <!-- Display search results here -->
            <p *ngFor="let food of filteredValues">
                <label>{{food.name}}</label>
            </p>
        </div>
    </div>
    <br> <br>
    <ul class="images">
        <li *ngFor="let food of foods">
            <img  src="{{food.ImageUrl}}">
            <label>{{food.name}}</label>
            <label>{{ food.cooktime}}</label>
        </li>
    </ul>
    <!-- <div>
        <input type="text" [(ngModel)]="term">
        <div *ngFor = "let item of items |filter:term" >
          <p>
            {{item.name}}
          </p>
        </div>
 
    </div>  -->
    

</body>